name: CI MLflow
 
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CSV_URL: "MLproject/dataset_processing.csv"
 
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
 
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL  
 
      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dagshub
          pip install mlflow
          pip install mlflow_skinny
          pip install numpy
          pip install pandas
          pip install scikit_learn
          pip install xgboost

      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLproject --env-manager=local

      # Save models to GitHub Repository
      - name: Save mlruns to repo
        run: |
          git config --global user.name ${{ secrets.username }}
          git config --global user.email ${{ secrets.email }}
          git add .
          git commit -m "AUTOMATICALLY run mlflow project"
          git push origin master
